__pycache__/ *.py[cod] *.class *.so .Python .env .venv/ env/ venv/ ENV/ .env.local .env.*.local *.log .idea/ .vscode/ conda_backups/ WindowsPowerShell/ C:\Users\Phkoe/ / C:\Users\Phkoe\Dokumente\PowerShell\Microsoft.PowerShell_profile.ps1
